# Ignore everything ...
/*

# ... except
!composer.json
!composer.lock
!.env.php-sample
!.gitignore
!Readme.md

!LICENSE
!/docs/
# Ignore everything inside htdocs, except the themes-folder
!/htdocs
/htdocs/*
!/htdocs/themes/
# Ignore everything inside wp-content, except the mu-plugins-folder
!/htdocs/wp-content
/htdocs/wp-content/*
!/htdocs/wp-content/mu-plugins/

# Ignore everything inside uploads, but keep the folder
!/htdocs/uploads
/htdocs/uploads/*
!/htdocs/uploads/.gitkeep

!/htdocs/.htaccess
!/htdocs/index.php
!/htdocs/wp-config.php
